body {
    background-color: black;
}

.tabakera {
    background-image: url(../Design/bosssmoke.jpg);
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.tabakera-h1 {
    transition: 0.3s;
    text-shadow: 0 0 10px #FFF, 0 0 20px darkred, 0 0 30px darkred, 0 0 40px darkred, 0 0 55px darkred, 0 0 55px darkred, 2px 2px 2px rgba(206,89,55,0);
}

.tabakera-p {
    transition: all 0.3s;
    font-family: 'Bacasime Antique', serif;
}

.tabakera-h1:hover {
    text-shadow: 3px 4px 2px white;
}

.tabakera-p:hover {
    text-shadow: 3px 4px 2px darkred;
}

#refine {
    margin-top: 4rem;
    min-height: 60vh;
    height: 100%;
    background-image: url(../Design/hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    transition: 500ms;
}

#refine:hover {
    background-image: url(../Design/55.jpg);
}
@media all and (max-width: 811px) {
    #refine {
        background-position: center;
    }
}

@media all and (max-width: 591px) {
    #refine {
        background-position:  center;
        background-size: contain;
        height: auto;
        min-height: 30vh;
    }
}

.accordion {
   --bs-accordion-bg: black;
}
.accordion-body {
    background-color: #b8b8b8;
}

.accordion-button {
   background-color: ;
   border-color: black;
   font-family: 'Bacasime Antique', serif;
   font-size: 1.25rem;
   color: white;
   font-weight: bolder;
}